<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <!--
        Tag de Comentarios
      -->

  <appSettings>

    <add key="PI" value="3,1415926535" />
    <add key="TP_DOLAR" value="572,82" />

  </appSettings>



  <connectionStrings>

  </connectionStrings>


</configuration>